{% include "header.html" %}

<div class="content">
  <h1 class="home-heading">Welcome, {{ user.name }}!</h1>
  {% if items %}
    <h2 class="account-heading">Your Bookings</h2>
    <div class="order-container">
      {% for booking in items %}
        <div class="order-item-container">
          <p><strong>Date:</strong> {{ booking.date }}</p>
          <ul class="cover-list">
            {% for venue in booking.venues %}
              <li class="venue-item">
                <p><strong>Venue Title:</strong> {{ venue.title }}</p>
                <div class="booked-venue-image-container">
                  <img src="{{ venue.image }}" alt="{{ venue.title }}" class="booked-venue-image">
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="no-order">You have not placed any orders yet!</p>
  {% endif %}
</div>
