{% include "header.html" %}

<div class="container-fluid">
  <h1 class="cart-head">Favourites</h1>
  <div class="row gap-3 card-grid">
    <div class="col-9 cart-table">
      {% if items %}
      <table class="container-fluid table-head">
        <thead>
          <tr class="table-row">
            <th class="first-space">Venues</th>
            <th>Title</th>
            <th>Company</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr class="table-row">
            <td class="first-space">
              <a
                href="{{url_for('venue_details', venue_id=item['venue'].id)}}"
                class="text-decoration-none text-light"
              >
                <img
                  src="{{ item['venue'].image }}"
                  alt="{{ item['venue'].model }}"
                  class="favourite-image"
                />
              </a>
            </td>
            <td>{{ item['venue'].title }}</td>
            <td>{{ item['venue'].model }}</td>
            <td>{{ item['venue'].price }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-2 summary">
      <h4 class="my-4">Summary</h4>
      <p class="favourite-total">
        <span class="total-text">Total: </span>
        ₹{{ total }}
      </p>
      <a
        href="{{url_for('checkout')}}"
        class="btn outline-btn my-4"
        id="favourite-checkout"
        >Checkout</a
      >
      {% else %}
      <p class="favourite-no-item">You have no favourites.</p>
      {% endif %}
    </div>
  </div>
</div>
